html,
body,
#react-root {
  background-color: #FFC0D9;
  /* --bg-image: url('http://www.zingerbugimages.com/backgrounds/gold_lights_seamless_texture.jpg'); */
}

body {
  margin: 0px;
  background-image: var(--bg-image);
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #072541;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  /* hacky way of centering login button */
  margin-left: 100px;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

/* .btn:hover {
  background-color: #008183;
  text-decoration: none;
} */

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-radius: 0;
  background: none;
  font: inherit;
}

.btn_asLink:hover {
  background-color: transparent;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border-radius: 3px;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 350px;
  max-width: 90%;
  padding: 25px;
  margin: auto;
  background-color: #F8BDEB;
  border-radius: 3px;
  box-shadow: 0 1px 2px #f797e3;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20%;

}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Table
-------------------------------------------------------------------------------- */

.table-div {
  width: auto;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  table-layout: auto;
  overflow-y: scroll;
}
table, th, td {
  /* border: 1px solid black ; */
  border-collapse: collapse;
  height: 2.15em;
}
th, td {
  padding: .5em;
  min-width: 5em;
  width: auto;
}
thead {
  color: #fcfcfc;
}
tbody tr:nth-child(3n+0) {
  background: rgb(165, 227, 252);
}
tbody tr:nth-child(even) {
  background: rgb(242, 191, 223);
}

tbody tr:nth-child(odd) {
  background: rgb(255, 224, 244);
}

.react-bootstrap-table {
  table-layout: auto;
  overflow-y: auto;
  overflow: scroll;
  }

#api-table {
  overflow: scroll;
}

.react-bootstrap-table tab {
  color: white;
}

.user-profile {
  background: #FF7A59;
  color: #FF7A59;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size:xx-large
  
}

.link {
  color: rgb(18, 126, 150);
  text-decoration: underline;
}

/* .profile {
  display: inline;
} */

#map-container {
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;

}

#need-to-pee {
  width: 125px;
  height: 200px;
  margin: auto;
}

.text {
  margin: auto;
}

#thankyou {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-content: center;
}

h1, h3, h5 {
  text-align: center;
  margin-bottom: 50px;
}

.linkInDrawer:link {
  text-decoration: none;
  color: black;
}

.app-bar {
  position: sticky;
}

#about-header {
  margin-top: 100px;
}

/* --------------------------------------------------------------------------------
Search Bar
-------------------------------------------------------------------------------- */
.searchBar {
  display: flex;
  flex-grow: 1;
  margin: 5px;
}